<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyC7J42_KtzRci5OpYZqfiWbBQnduP_ZNSY</string>
	<key>GCM_SENDER_ID</key>
	<string>286076426888</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.flutterflow.escapellc</string>
	<key>PROJECT_ID</key>
	<string>escape-self-care-ai</string>
	<key>STORAGE_BUCKET</key>
	<string>escape-self-care-ai.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:286076426888:ios:95fe882edc22eb4e221d3d</string>
</dict>
</plist>