<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>45611638400-g6qdnjuod147q62vsui0dvf1ohr051ed.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.45611638400-g6qdnjuod147q62vsui0dvf1ohr051ed</string>
	<key>API_KEY</key>
	<string>AIzaSyDMJ6qYpxuxl4rrmK0I0mX_IpzqeyoTU-Q</string>
	<key>GCM_SENDER_ID</key>
	<string>45611638400</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.flutterflow.escapellc</string>
	<key>PROJECT_ID</key>
	<string>escape-self-care</string>
	<key>STORAGE_BUCKET</key>
	<string>escape-self-care.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:45611638400:ios:78009638ed5f02c3c0d065</string>
</dict>
</plist>